<% content_for :title, "Editar servico | Hiperion Serras" %>
<% content_for :meta_description, "Edicao interna de servicos da Hiperion Serras." %>
<% content_for :body_class, "services-page" %>

<section class="service-admin" aria-labelledby="service-admin-edit-heading">
  <div class="container">
    <h1 id="service-admin-edit-heading" class="service-admin__title">Editar servico</h1>
    <%= render "form" %>
  </div>
</section>
