<% content_for :title, "Novo servico | Hiperion Serras" %>
<% content_for :meta_description, "Cadastro interno de servicos da Hiperion Serras." %>
<% content_for :body_class, "services-page" %>

<section class="service-admin" aria-labelledby="service-admin-new-heading">
  <div class="container">
    <h1 id="service-admin-new-heading" class="service-admin__title">Cadastrar novo servico</h1>
    <%= render "form" %>
  </div>
</section>
