<nav class="navbar navbar-expand-lg navbar-hiperion p-0">
  <div class="container-fluid navbar-hiperion__container d-flex justify-content-evenly h-100">
    <%= link_to root_path do %>
      <%= image_tag "logo-nav-2x.png", class: "navbar-logo" %>
    <% end %>

    <button class="navbar-toggler navbar-hiperion__toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHiperionMenu" aria-controls="navbarHiperionMenu" aria-expanded="false" aria-label="Alternar navegação">
      <span class="navbar-hiperion__toggler-line"></span>
      <span class="navbar-hiperion__toggler-line"></span>
      <span class="navbar-hiperion__toggler-line"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarHiperionMenu">
      <ul class="navbar-hiperion__nav list-unstyled mb-0 h-100">
        <li class="item-list d-flex align-items-center"><a href="#" class="navbar-link">QUEM SOMOS</a></li>
        <li class="item-list d-flex align-items-center mx-4"><a href="#" class="navbar-link">LÂMINAS DE SERRA FITA</a></li>
        <li class="item-list d-flex align-items-center mx-4"><a href="#" class="navbar-link">SERRAS CIRCULARES</a></li>
        <li class="item-list d-flex align-items-center mx-4"><a href="#" class="navbar-link">SERVIÇOS</a></li>
        <li class="item-list d-flex align-items-center mx-4"><a href="#" class="navbar-link">CONTATO</a></li>
        <li class="d-flex align-items-center mx-4"><a href="#" class="secondary-btn">ORÇAMENTO</a></li>
      </ul>
    </div>
  </div>
</nav>
