<nav class="navbar navbar-expand-sm navbar-hiperion p-0">
  <div class="container-fluid d-flex justify-content-evenly h-100">
    <%= link_to root_path do %>
      <%= image_tag "logo-nav-2x.png", class: "navbar-logo" %>
    <% end %>

    <ul class="d-flex list-unstyled mb-0 h-100">
      <li class="item-list d-flex align-items-center"><a href="#" class="navbar-link">QUEM SOMOS</a></li>
      <li class="item-list d-flex align-items-center mx-4"><a href="#" class="navbar-link">LÂMINAS DE SERRA FITA</a></li>
      <li class="item-list d-flex align-items-center mx-4"><a href="#" class="navbar-link">SERRAS CIRCULARES</a></li>
      <li class="item-list d-flex align-items-center mx-4"><a href="#" class="navbar-link">SERVIÇOS</a></li>
      <li class="item-list d-flex align-items-center mx-4"><a href="#" class="navbar-link">CONTATO</a></li>
      <li class="d-flex align-items-center mx-4"><a href="#" class="secondary-btn">ORÇAMENTO</a></li>
    </ul>
  </div>
</nav>
