<section class="stats-section" aria-labelledby="stats-section-heading" data-controller="counter" data-counter-duration-value="1800">
  <h2 id="stats-section-heading" class="visually-hidden">Nossos números em campo</h2>

  <div class="stats-section__inner">
    <article class="stats-section__item" aria-label="Mais de 150 empresas atendidas com sucesso">
      <p class="stats-section__value" data-counter-target="number" data-value="150" data-prefix="+">+0</p>
      <p class="stats-section__label">Empresas atendidas<br>com sucesso</p>
    </article>

    <article class="stats-section__item" aria-label="Mais de 2500 afiações técnicas em serras circulares">
      <p class="stats-section__value" data-counter-target="number" data-value="2500" data-prefix="+">+0</p>
      <p class="stats-section__label">Afiações técnicas em<br>Serras Circulares</p>
    </article>

    <article class="stats-section__item" aria-label="Mais de 200000 metros de lâmina de serra fita fornecidos à indústria">
      <p class="stats-section__value" data-counter-target="number" data-value="200000" data-prefix="+">+0</p>
      <p class="stats-section__label">Metros de lâmina de serra fita<br>fornecidos à indústria</p>
    </article>

    <article class="stats-section__item" aria-label="Mais de 1300 horas de consultoria técnica aplicada em campo">
      <p class="stats-section__value" data-counter-target="number" data-value="1300" data-prefix="+">+0</p>
      <p class="stats-section__label">Horas de consultoria técnica<br>aplicada em campo</p>
    </article>
  </div>
</section>
